* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.main__inner {
  padding: 130px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.main__text {
  width: 680px;
}
.main__title {
  padding-bottom: 50px;
  font-size: 55px;
  font-weight: 400;
}
.main__desc {
  padding-bottom: 50px;
  font-size: 18px;
  font-weight: 300;
  line-height: 35px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.services__block {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.title {
  width: 300px;
  font-size: 42px;
  font-weight: 400;
}

.title-2 {
  width: 400px;
  padding-top: 10px;
  font-size: 33px;
  font-weight: 400;
}

.description {
  width: 370px;
  padding-top: 23px;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #000;
}

.line {
  width: 100%;
  height: 0.5px;
  margin: 40px 0;
  background-color: #000;
}

.line-2 {
  width: 70%;
  height: 0.5px;
  margin: 40px 0;
  background-color: #000;
}

.block-3 {
  width: 380px;
}

.block__inner-2 {
  width: 790px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.experience {
  padding-top: 100px;
  padding-bottom: 150px;
  margin-top: 80px;
  margin-bottom: 50px;
  background-color: #141414;
}
.experience__inner {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.experience__text {
  width: 400px;
  padding-top: 80px;
}

.block__inner-3 {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.title-3 {
  padding-bottom: 100px;
  font-size: 42px;
  font-weight: 300;
  color: #fff;
}

.description-2 {
  width: 450px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
}

.img-3 {
  margin-top: -25cap;
}

.blog .title {
  padding-bottom: 40px;
}

.block__text {
  width: 300px;
}

.description-3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.link-block {
  width: 470px;
  padding-top: 50px;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.link-block:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.blog__inner {
  margin: 50px 0;
}

.block__text {
  margin: 0 7%;
}

.blog__block {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.box-article {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
}

.box-text {
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
}

.box-3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.view-project {
  font-size: 12px;
  color: #000;
}

.box-text-2 {
  padding-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
}

.living__inner {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.living__text {
  width: 430px;
}
.living__title {
  margin-bottom: 150px;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  color: #000;
}
.living__description {
  padding-bottom: 30px;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  color: #000;
}
.living__description-2 {
  padding-bottom: 30px;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  color: #000;
}
.living .btn-1 {
  width: 130px;
  height: 30px;
  font-size: 12px;
  font-weight: 400;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
}
.living .btn-1:hover {
  background-color: transparent;
  color: #000;
}
.living .line {
  margin-top: 50px;
  margin-bottom: 50px;
}

.blok {
  width: 300px;
}
.blok__title {
  width: 300px;
  margin-bottom: 150px;
  font-size: 40px;
  font-weight: 400;
  line-height: 70px;
  color: #000;
}

.support__block {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.description {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
}

.square {
  width: 600px;
  height: 68px;
  border-bottom: 1px solid #141414;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.support__text {
  font-size: 13.5px;
  font-weight: 400;
  color: #000;
}

.lorem {
  font-size: 13.5px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
}

.sidebar__square {
  width: 600px;
  height: 100px;
  margin: 30px 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
  background-color: #fff;
}

.footer {
  margin-top: 100px;
  background-color: #141414;
}
.footer__inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.footer__title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 60px;
  color: #fff;
}
.footer__description {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 50px;
  color: #fff;
}
.footer__text {
  width: 700px;
}
.footer .btn-2 {
  width: 116px;
  height: 42px;
  font-size: 12px;
  font-weight: 500;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
}
.footer .btn-2:hover {
  background-color: transparent;
  color: #fff;
}
.footer .line-3 {
  width: 100%;
  height: 0.5px;
  background-color: #fff;
}

.footer__midle {
  display: flex;
  align-items: center;
}
.footer__midle .list {
  padding: 5px 0;
}
.footer__midle .link {
  font-size: 13px;
  font-weight: 300;
  transition-duration: 0.3s;
  color: #fff;
}
.footer__midle .link:hover {
  text-decoration: underline;
}

.midle__inner {
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap: 250px;
}

.end__inner {
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
}

.company__name {
  font-size: 8px;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 1100px) {
  .main__text {
    width: 600px;
  }
  .main__title {
    font-size: 45px;
    line-height: 80px;
  }
  .main .hero-1 {
    width: 140%;
  }
  .services__block {
    flex-wrap: wrap;
  }
  .title-2 {
    font-size: 28px;
    line-height: 30px;
  }
  .experience .img-1 {
    width: 100%;
  }
  .living__inner {
    flex-direction: column;
  }
  .living__text {
    margin: 0 10px;
  }
  .support__block {
    flex-wrap: wrap;
  }
  .support .blok__title {
    width: 200px;
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .support .blok__inner {
    margin-bottom: 50px;
  }
  .support .description {
    line-height: 30px;
  }
}
@media (max-width: 900px) {
  .main__text {
    width: 500px;
  }
  .main__title {
    font-size: 38px;
    line-height: 60px;
  }
  .main__desc {
    font-size: 14px;
    line-height: 25px;
  }
  .main .hero-1 {
    width: 120%;
  }
}
@media (max-width: 895px) {
  .img-3 {
    width: 100%;
    margin: -150px auto;
  }
  .block__inner-3 {
    margin: 0 30px;
  }
  .title-3 {
    width: 300px;
    font-size: 30px;
    line-height: 50px;
  }
  .description-2 {
    width: 400px;
    font-size: 14px;
  }
  .blog__block {
    flex-wrap: wrap;
  }
}
@media (max-width: 840px) {
  .block__inner-2 {
    flex-direction: column;
    display: block;
    gap: 10px;
  }
  .description-2 {
    font-size: 14px;
    line-height: 20px;
  }
  .services .title {
    width: 200px;
    font-size: 28px;
  }
  .services .description {
    width: 320px;
    font-size: 11px;
    line-height: 25px;
  }
  .img-3 {
    width: 100%;
    margin: -100px auto;
  }
}
@media (max-width: 780px) {
  .img-3 {
    margin-top: 50px;
  }
  .footer__text {
    width: 400px;
  }
  .footer__title {
    font-size: 30px;
    line-height: 30px;
  }
  .footer__description {
    font-size: 14px;
  }
  .footer .btn-2 {
    width: 80px;
    font-size: 12px;
  }
}
@media (max-width: 710px) {
  .experience__inner {
    flex-direction: column;
  }
  .img-3 {
    display: none;
  }
  .img-2 {
    width: 100%;
    margin: 10px 0;
  }
  .description-2 {
    width: 300px;
    font-size: 12px;
    font-weight: 300;
    line-height: 30px;
  }
  .block__inner-3 {
    padding-left: 30px;
  }
  .living__title {
    width: 300px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 100px;
  }
  .living__description {
    width: 380px;
    font-size: 12px;
    line-height: 20px;
  }
  .living__description-2 {
    width: 380px;
    font-size: 12px;
    line-height: 20px;
  }
}
@media (max-width: 600px) {
  .main__text {
    width: 400px;
  }
  .main__title {
    font-size: 30px;
    line-height: 50px;
  }
  .main__desc {
    font-size: 12px;
  }
  .living__description {
    width: 380px;
    font-size: 12px;
    line-height: 20px;
  }
  .living__description-2 {
    width: 380px;
    font-size: 12px;
    line-height: 20px;
  }
  .img__link {
    width: 100px;
    padding-left: 7px;
  }
  .box-article {
    width: 200px;
  }
  .box-text {
    width: 230px;
    line-height: 20px;
  }
  .box-text-2 {
    width: 240px;
    line-height: 20px;
  }
  .block__text .title {
    font-size: 30px;
    padding-bottom: 30px;
  }
  .block__text .description-3 {
    width: 230px;
    font-size: 12px;
    line-height: 20px;
  }
  .footer__title {
    width: 200px;
    font-size: 20px;
  }
  .footer__description {
    width: 300px;
    line-height: 26px;
  }
  .footer__midle .midle__social__links {
    display: none;
  }
}
@media (max-width: 660px) {
  .square {
    width: 430px;
  }
}
@media (max-width: 470px) {
  .square {
    width: 330px;
  }
}
@media (max-width: 400px) {
  .main__text {
    width: 400px;
  }
  .main__title {
    width: 300px;
    font-size: 25px;
    line-height: 39px;
  }
  .main__desc {
    font-size: 10px;
    line-height: 18px;
  }
  .main .hero-1 {
    width: 95%;
  }
  .living__description {
    width: 320px;
    font-size: 12px;
    line-height: 20px;
  }
  .living__description-2 {
    width: 320px;
    font-size: 12px;
    line-height: 20px;
  }
  .square {
    width: 350px;
    font-size: 10px;
    line-height: 20px;
    gap: 10px;
  }
  .sidebar__square {
    width: 350px;
    font-size: 10px;
    line-height: 20px;
    gap: 10px;
  }
}